:root {
  --sidebar-width: 18.75rem;
  --border: #e5e5e5;
  --text: #252020;
  --font: "Simplon Norm", sans-serif;
}

/* ===== DESKTOP ===== */
.sidebar {
  width: 0;
  overflow: hidden;
  transition: width 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  /* margin-left: 1.25rem; */
}

.sidebarOpen .sidebar {
  width: var(--sidebar-width);
}

.isOpen {
  width: var(--sidebar-width); 
}

.sidebarContent {
  width: var(--sidebar-width);
  padding-right: 0.75rem;
}

.customizableWrapper {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border);
  font-family: var(--font);
  font-weight: 700;
}

.customizableWrapper input[type="checkbox"] {
  width: 1.375rem;
  height: 1.375rem;
  border: 1px solid #252020;
  border-radius: 0;
}

.customizableWrapper label {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 0.375rem;
}

.filterSectionItem {
  border-bottom: 1px solid var(--border);
}

.filterHeader {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
}

.filterTitle {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.filterAll {
  font-weight: 400;
  font-size: 1.125rem;
  color: #252020;
}

.filterOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.optionRow {
  display: flex;
  gap: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}

.optionRow label {
  margin-bottom: 0.625rem;
}

.optionRow input[type="checkbox"] {
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid #252020;
  border-radius: 0;
}

.unselectAll {
  font-size: 1rem;
  font-weight: 400;
  background: none;
  border: none;
  text-decoration: underline;
  color: #bfc8cd;
  margin-bottom: 1.5625rem;
}

.iconSm {
  width: 1rem;
  height: 1rem;
}

.mobileSidebarHeader {
  display: none;
}

.closeFilterBtn {
  background: none;
  border: none;
  font-size: 1.25rem;
}


/* ===== MOBILE ===== */
@media (max-width: 48rem) {
  .customizableWrapper label,
  .filterTitle,
  .filterAll,
  .optionRow label,
  .unselectAll {
    font-size: 0.875rem;
  }

  .optionRow input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
  }

  .customizableWrapper input[type="checkbox"] {
    width: 1.125rem;
    height: 1.125rem;
  }

  .sidebar {
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;

    width: 85vw;
    max-width: 22.5rem;
    height: 100vh;

    background: #fff;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    box-shadow: 0.25rem 0 1.5rem rgba(0, 0, 0, 0.15);
  }

  .sidebar.isOpen {
    transform: translateX(0);
  }

  .sidebarContent {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
  }

  .mobileSidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--border);
    font-weight: 600;
  }
}
