.productHero {
  padding: 3.75rem 0.625rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroContainer {
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-inline: 1rem;
}

.heroTitle {
  color: #252020;
  font-weight: 400;
  font-size: clamp(1.4rem, 5vw, 3.75rem);
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heroDescription {
  max-width: 48rem;
  font-size: clamp(1rem, 2vw, 1.375rem);
  line-height: 1.6;
  color: #252020;
}

/* Mobile */
@media (max-width: 768px) {
  .productHero {
    padding: clamp(2rem, 6vw, 3.75rem) 1rem;
  }

  .heroTitle {
    letter-spacing: 0;
  }

  .heroDescription{
    padding: 0;
  }
}
