.productHero {
  padding: 60px 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Simplon Norm",sans-serif;
}

.heroContainer {
  max-width: 45.0625rem; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding-inline: 1rem;
}

.heroTitle {
  color: #252020;
  margin-left: 0 auto;
  font-family: "Simplon Norm", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 5vw, 3.75rem);
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.heroDescription {
  max-width: 45rem; 
  margin: 0 -20px;
  font-size: clamp(1rem, 2vw, 1.375rem); 
  line-height: 1.6;
  color: #252020;
  text-align: center;
}

/* --- MOBILE RESPONSIVE --- */
@media (max-width: 768px) {
  .productHero {
  padding: clamp(2rem, 6vw, 3.75rem) 1rem;
}

  .heroTitle{
    font-style:normal;
    letter-spacing: 0px;
  }

  
}