.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 60px 5% 24px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1248px;
  margin: 0 auto;
}

/* --- TOP SECTION --- */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 40px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  max-width: 584px;
  gap: 70px;
}

.newletter-top{
  display: flex;
  flex-direction: column;
}

.newsletter-form {
  display: flex;
  gap: 12px;
  /* margin-top: 40px; */
}

.newsletter-input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  background: #fff;
}

.newsletter-btn {
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.footer-text{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-mobile-subtext{
  display: none;
}

.footer-mobile-contact{
  display: none;
}

.footer-currency{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.currency-group{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.currency-note{
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  font-style: regular;
  letter-spacing:0.5px; 
}

.currency-indicator{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:5px;
}

.col-header{
  display: flex;
}

#currency-flag{
  border-radius: 50%;
}

#diamond-icon{
  width: 6px;
}

/* --- BOTTOM SECTION --- */
.footer-bottom {
  display: flex;
  /* align-items: flex-start; */
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 115px;
  padding-top: 40px;
}

.footer-bottom-links{
  width: 50%;
  display: flex;
  gap: 200px;
}

.footer-heading {
  font-size: 20px;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.footer-meta{
  display: flex;
  flex-direction: column;
}

.footer-contact{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-details{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-icons{
  display: flex;
  gap: 10px;
}

.icon-circle{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2 solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icon{
  border-radius: 3px;
}

.payment-section{
   margin-top: 50px;
}

.payment-methods {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.payment-card {
  background: #fff;
  color: #000;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
}

#payment-options{
  width: 376px;
}

.footer-copyright{
  margin-top: 50px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.mobile-separator { display: none; }
.arrow { display: none; }

/* --- MOBILE RESPONSIVE --- */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 25px;
    margin-top: -30px;
  }

  .footer-bottom{
    gap: 0;
  }

  .footer-bottom-links .footer-col,
  .footer-social-payment .footer-col {
    width: 100%;
    padding-top: 20px;    
    padding-bottom: 20px; 
    border-bottom: 1px solid #ffffff; 
  }

  .col-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
    border-bottom: none; 
    cursor: pointer;
  }

  .newsletter {
  gap: 20px;
}

  .newsletter-form {
    flex-direction: row;
    width: 100%;
  }

  .footer-divider {
    width: 100%;
    margin-left: 0;
    height: 2px;
    background: #ffffff;
  }

  .footer-heading {
  font-size: 16px;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 0;
}

  .footer-list, .social-icons {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .footer-list.open, .social-icons.open {
    max-height: 500px;
    padding: 15px 0;
  }

  .arrow { display: block; font-size: 12px; transition: 0.3s; }
  .arrow.up { transform: rotate(180deg); }

  .mobile-separator {
    display: inline;
    padding: 0 5px;
  }

  .newsletter-btn{
    width: 109px;
  }

  .contact-details{
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .footer-mobile-contact{
    display: block;
}

   .footer-web-contact{
    display: none;
   }

  .bottom-border{
    padding-bottom: 20px;
    border-bottom: 1 solid #ffffff;
  }

  .footer-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
  }

  .footer-subtext{
    display: none;
  }

  .footer-mobile-subtext{
    margin-top: 8px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

  .currency-note{
    display: none;
  }

  .currency-indicator{
  margin-top: 10px;
}

  .footer-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.footer-bottom-links {
    display: flex;
    flex-direction: column; 
    gap: 0px;
    width: 100%;
  }

  #payment-options{
  width: 343px;
} 

  .payment-section{
   margin-top: 30px;
}

  .footer-copyright{
    margin-top: 20px;
}
}