/* ========================= FOOTER ========================= */
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 3.75rem 5% 1.5rem; 
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.footer-container {
  max-width: 78rem; 
  margin: 0 auto;
}

/* ========================= FOOTER TOP SECTION ========================= */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem; 
  padding-bottom: 2.5rem;
}


/* NEWSLETTER */
.newsletter {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 18.75rem; 
  max-width: 36.5rem; 
  gap: 3.5rem;
}

.newletter-top {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.newsletter-form {
  display: flex;
  gap: 0.75rem; 
}

.newsletter-input {
  flex: 1;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  background: #fff;
}

.newsletter-btn {
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.3125rem; 
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.footer-text {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-mobile-subtext,
.footer-mobile-contact,
.mobile-separator {
  display: none;
}

/* CONTACT-DETAILS */
.footer-meta {
  display: flex;
  flex-direction: column;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}


/* CURRENCY-SECTION */
.footer-currency {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem; 
}

.currency-group {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem; 
}

.currency-note {
  font-size: 0.75rem; 
  font-weight: 400;
  letter-spacing: 0.031rem; 
}

.currency-indicator {
  display: flex;
  align-items: center;
  gap: 0.3125rem; 
}

#currency-flag {
  border-radius: 50%;
}

#diamond-icon {
  width: 0.375rem; 
}

/* =========================
   FOOTER BOTTOM SECTION
========================= */
.footer-bottom {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 7.1875rem; 
  padding-top: 2.5rem;
}

.footer-bottom-links {
  width: 50%;
  display: flex;
  gap: 12.5rem; 
}

.footer-heading {
  font-size: 1.25rem; 
  font-weight: 700;
  margin-bottom: 1.25rem; 
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem; 
  display: block;
  margin-bottom: 0.9rem; 
}

/* SOCIAL-LINKS */
.social-icons {
  display: flex;
  gap: 0.625rem; 
}

.icon-circle {
  width: 2rem; 
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icon {
  border-radius: 0.1875rem; 
}

/* PAYMENT-METHODS */
.payment-section {
  margin-top: 2.5rem; 
}

.payment-methods {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.9375rem;
}

#payment-options {
  width: 23.5rem; 
}

.footer-copyright {
  margin-top: 3.125rem;
  font-size: 0.875rem; 
  font-weight: 400;
  text-align: center;
}

.footer .arrow {
  display: none;
}

/* =========================
   FOOTER MOBILE RESPONSIVE
========================= */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 25px;
    margin-top: -30px;
  }

  .footer-bottom{
    gap: 0;
  }

  .footer-bottom-links .footer-col,
  .footer-social-payment .footer-col {
    width: 100%;
    padding-top: 20px;    
    padding-bottom: 20px; 
    border-bottom: 1px solid #ffffff; 
  }

  .col-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
    border-bottom: none; 
    cursor: pointer;
  }

  .newsletter {
    gap: 20px;
  }

  .newsletter-form {
    flex-direction: row;
    width: 100%;
  }

  .footer-divider {
    width: 100%;
    margin-left: 0;
    height: 2px;
    background: #ffffff;
  }

  .footer-heading {
    font-size: 16px;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 0;
  }

  .footer-list, .social-icons {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .footer-list.open, .social-icons.open {
    max-height: 500px;
    padding: 15px 0;
  }

  .footer .arrow { display: block; font-size: 12px; transition: 0.3s; }
  .footer .arrow.up { transform: rotate(180deg); }

  .mobile-separator {
    display: inline;
    padding: 0 5px;
  }

  .newsletter-btn{
    width: 109px;
  }

  .contact-details{
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .footer-mobile-contact{
    display: block;
  }

  .footer-web-contact{
    display: none;
  }

  .currency-note{
    display: none;
  }

  .currency-indicator{
    margin-top: 10px;
  }

  .bottom-border{
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
  }

  .footer-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
  }

  .footer-subtext{
    display: none;
  }

  .footer-mobile-subtext{
    margin-top: 8px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .footer-bottom-links {
    display: flex;
    flex-direction: column; 
    gap: 0px;
    width: 100%;
  }

  #payment-options{
    width: 343px;
  } 

  .payment-section{
    margin-top: 30px;
  }

  .footer-copyright{
    margin-top: 20px;
  }
}
