.product-hero {
  padding: 60px 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Simplon Norm",sans-serif;
  /* border-bottom: 1px solid #E5E5E5;  */
}

.hero-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-title {
  font-size: 60px; 
  font-weight: 400;
  color: #252020;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100%;
}

.hero-description {
  max-width: 721px;
  width: 100%;
  color: #252020;
  font-size: 22px;
  font-weight: 400;
  line-height: 2;
  margin: 0 auto;
  text-align: center;
}

/* --- MOBILE RESPONSIVE --- */
@media (max-width: 768px) {
  .product-hero {
    padding-bottom: 20px;
  }

  .hero-title {
    font-size: 24px; 
    font-weight: 400;
    margin-bottom: 16px;
    letter-spacing: 0;
    line-height: 1.2;
    font-style: regular;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.4;
  }
}