/* ========================= FOOTER ========================= */
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 3.75rem 5% 1.5rem; 
  font-family: Arial, sans-serif;
  box-sizing: border-box;

  overflow-x: hidden;
}

.footerContainer {
  max-width: 78rem; 
  margin: 0 auto;
}

/* ========================= FOOTER TOP SECTION ========================= */
.footerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem; 
  padding-bottom: 2.5rem;
}



/* NEWSLETTER */
.newsletter {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 18.75rem; 
  max-width: 36.5rem; 
  gap: 3.5rem;
}

.newsletterTop {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.newsletterForm {
  display: flex;
  gap: 0.75rem; 
}

.newsletterInput {
  flex: 1;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  background: #fff;
}

.newsletterBtn {
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.3125rem; 
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.footerText {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.footerMobileSubtext,
.footerMobileContact,
.mobileSeparator {
  display: none;
}

/* CONTACT-DETAILS */
.footerMeta {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  min-width: 0;
}

.footerContact {
  width: 100%;
  display: flex;
  flex-direction: column;
   gap: 0.9375rem;
}

.contactDetails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.9375rem;
}

/* CURRENCY-SECTION */
.footerCurrency {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem; 
}

.currencyGroup {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem; 
}

.currencyNote {
  font-size: 0.75rem; 
  font-weight: 400;
  letter-spacing: 0.031rem; 
}

.currencyIndicator {
  display: flex;
  align-items: center;
  gap: 0.4125rem; 
  
}

#currencyFlag {
  border-radius: 50%;
}

#diamondIcon {
  width: 0.5rem; 
}

/* =========================
   FOOTER BOTTOM SECTION
========================= */
.footerBottom {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 7.1875rem; 
  padding-top: 2.5rem;
}

.footerBottomLinks {
  width: 50%;
  display: flex;
  gap: 12.5rem; 
}

.footerHeading {
  font-size: 1.25rem; 
  font-weight: 700;
  margin-bottom: 1.25rem; 
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLink {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem; 
  display: block;
  margin-bottom: 0.9rem; 
}

/* SOCIAL-LINKS */
.socialIcons {
  display: flex;
  gap: 0.625rem; 
}

.iconCircle {
  width: 2rem; 
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#socialIcon {
  border-radius: 0.1875rem; 
}

/* PAYMENT-METHODS */
.paymentSection {
  margin-top: 2.5rem; 
}

.paymentMethods {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.9375rem;
}

#paymentOptions {
  width: 23.5rem; 
}

.footerCopyright {
  margin-top: 3.125rem;
  font-size: 0.875rem; 
  font-weight: 400;
  text-align: center;
}

.arrow {
  display: none;
}

/* =========================
   FOOTER MOBILE RESPONSIVE
========================= */
@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 5% 1.5rem; 
  }

  .footerTop {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .footerBottom{
    gap: 0;
  }

  .footerBottomLinks .footerCol,
  .footerSocialPayment .footerCol {
    width: 100%;
    padding-top: 20px;    
    padding-bottom: 20px; 
    border-bottom: 1px solid #ffffff; 
  }

  .colHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
    border-bottom: none; 
    cursor: pointer;
  }

  .newsletter {
    max-width: 100%;
    min-width: 0;  
    box-sizing: border-box;
    gap: 20px;
  }

  .newsletterForm {
    flex-direction: row;
    /* gap: 0.5rem;  */
    width: 100%;
    min-width: 0;
  }

  .newsletterInput {
    flex: 1 1 auto;
    min-width: 0;
  }

  .newsletterBtn {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0.75rem 1rem; /* control size safely */ 
  }

  .footerDivider {
    width: 100%;
    margin-left: 0;
    height: 2px;
    background: #ffffff;
  }

  .footerHeading {
    font-size: 16px;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 0;
  }

  .footerList, .socialIcons {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .footerListOpen, .socialIconsOpen {
    max-height: 500px;
    padding: 15px 0;
  }

  .arrow { display: block; font-size: 12px; transition: 0.3s; }
  .arrowUp { transform: rotate(180deg); }

  .icon{
    width: 1.25rem;
    height: 1.25rem;
    color:#fff;
  }

  .mobileSeparator {
    display: inline;
    padding: 0 5px;
  }

  /* .newsletterBtn{
    width: 109px;
  } */

  .contactDetails{
    gap: 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .footerContact {
    gap: 0.5rem;
  }

  .footerMobileContact{
    display: block;
  }

  .footerWebContact{
    display: none;
  }

  .currencyNote{
    display: none;
  }

  .currencyIndicator{
    margin-top: 10px;
  }

  .bottomBorder{
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
  }

  .footerText{
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 100%;
  }

  .footerSubtext{
    display: none;
  }

  .footerMobileSubtext{
    margin-top: 8px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .footerBottom {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .footerBottomLinks {
    display: flex;
    flex-direction: column; 
    gap: 0px;
    width: 100%;
  }

  #paymentOptions{
    max-width: 100%;
  } 

  .paymentSection{
    margin-top: 30px;
  }

  .footerCopyright{
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .newsletterForm {
    flex-direction: column;
  }

  .footerText{
    font-size: 0.8rem;
  }

  .contactDetails{
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobileSeparator{
    display: none;
  }
}
